In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
test = pd.read_csv('data/test.csv')
display(test.head())

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [3]:
test['Survived'] = test['Sex'].apply(lambda x: 0 if x == 'male' else 1)

In [4]:
submit = pd.DataFrame(data={'PassengerId':test['PassengerId'],'Survived':test['Survived']})
submit.to_csv('genderModel.csv',index=False)

In [5]:
train = pd.read_csv('data/train.csv')

In [6]:
train[(train['Sex']=='male')&(train['Age']<16)]['Survived'].value_counts()

1    21
0    19
Name: Survived, dtype: int64

In [7]:
train[(train['Sex']=='female')&(train['Pclass']==3)]['Survived'].value_counts()

1    72
0    72
Name: Survived, dtype: int64

In [8]:
display(train['Name'].sample(30))

630                 Barkworth, Mr. Algernon Henry Wilson
793                             Hoyt, Mr. William Fisher
254             Rosblom, Mrs. Viktor (Helena Wilhelmina)
233                       Asplund, Miss. Lillian Gertrud
343           Sedgwick, Mr. Charles Frederick Waddington
345                        Brown, Miss. Amelia "Mildred"
768                                  Moran, Mr. Daniel J
526                                 Ridsdale, Miss. Lucy
241                       Murphy, Miss. Katherine "Kate"
462                                    Gee, Mr. Arthur H
8      Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
13                           Andersson, Mr. Anders Johan
517                                    Ryan, Mr. Patrick
750                                    Wells, Miss. Joan
610    Andersson, Mrs. Anders Johan (Alfrida Konstant...
817                                   Mallet, Mr. Albert
361                            del Carlo, Mr. Sebastiano
184                  Kink-Heilmann, Miss. Luise Gretchen
149                    Byles, Rev. Thomas Roussel Davids
518    Angle, Mrs. William A (Florence "Mary" Agnes H...
171                                 Rice, Master. Arthur
113                              Jussila, Miss. Katriina
59                    Goodwin, Master. William Frederick
216                               Honkanen, Miss. Eliina
459                                O'Connor, Mr. Maurice
141                             Nysten, Miss. Anna Sofia
1      Cumings, Mrs. John Bradley (Florence Briggs Th...
309                       Francatelli, Miss. Laura Mabel
787                            Rice, Master. George Hugh
126                                  McMahon, Mr. Martin
Name: Name, dtype: object

In [9]:
train['Title'] = train['Name'].apply(lambda x: str(x).split(', ')[1].split('.')[0])

In [10]:
display(train['Title'].head(10))

0        Mr
1       Mrs
2      Miss
3       Mrs
4        Mr
5        Mr
6        Mr
7    Master
8       Mrs
9       Mrs
Name: Title, dtype: object

In [11]:
print(train['Title'].value_counts())

Mr              517
Miss            182
Mrs             125
Master           40
Dr                7
Rev               6
Col               2
Mlle              2
Major             2
Jonkheer          1
Capt              1
Sir               1
Ms                1
Lady              1
Mme               1
Don               1
the Countess      1
Name: Title, dtype: int64

In [12]:
def transform_title(x):
    if x in ["Capt","Don","Major","Col","Rev",
             "Dr","Sir","Mr","Jonkheer"]:
        return 'man'
    elif x in ["Dona","the Countess","Mme","Mlle",
             "Ms","Miss","Lady","Mrs"]:
        return 'woman'
    elif x in ['Master']:
        return 'boy'

In [13]:
train['Title'] = train['Title'].apply(transform_title)

In [14]:
print(train['Title'].value_counts())

man      538
woman    313
boy       40
Name: Title, dtype: int64

In [15]:
train['Surname'] = train['Name'].apply(lambda x: str(x).split(',')[0])

In [16]:
SurnameCounts = train['Surname'].value_counts()
display(SurnameCounts.head())

Andersson    9
Sage         7
Goodwin      6
Johnson      6
Carter       6
Name: Surname, dtype: int64

In [24]:
SurnameCounts['Danbom']

2

In [18]:
train['SurnameFreq'] = train['Surname'].apply(lambda x: SurnameCounts[x])

In [19]:
display(train['SurnameFreq'].value_counts())

1    534
2    166
3     84
4     56
6     30
9      9
7      7
5      5
Name: SurnameFreq, dtype: int64

In [22]:
train.loc[train['Title']=='man','Surname' ]= 'noGroup'
train.loc[train['SurnameFreq']==1,'Surname' ]= 'noGroup'

In [25]:
SurnameSurvival = train.groupby('Surname')['Survived'].mean()

In [27]:
display(SurnameSurvival.value_counts())

1.000000    79
0.000000    26
0.750000     2
0.333333     1
0.309798     1
0.142857     1
Name: Survived, dtype: int64